In [ ]:
#1.
Q1. Create a DataFrame with the following student marks and display students with marks above 80.
{'Name': ['Anu', 'Raj', 'Diya', 'Kiran'], 'Marks': [76, 88, 95, 65]}

expected Output:
    
    Name  Marks
1   Raj     88
2  Diya     95

In [3]:
import pandas as pd
data={'Name': ['Anu', 'Raj', 'Diya', 'Kiran'], 'Marks': [76, 88, 95, 65]}
df=pd.DataFrame(data)
print(df[df['Marks']>80])

   Name  Marks
1   Raj     88
2  Diya     95

In [ ]:
#2.Q2. Create a DataFrame and find the mean salary grouped by department.
{'Name': ['Amit', 'Sneha', 'Kunal', 'Riya'], 'Department': ['HR', 'IT', 'HR', 'IT'], 'Salary': [30000, 50000, 35000, 52000]}
Expected Output:
Department
HR    32500.0
IT    51000.0
Name: Salary, dtype: float64

In [4]:
data={'Name': ['Amit', 'Sneha', 'Kunal', 'Riya'], 
      'Department': ['HR', 'IT', 'HR', 'IT'], 
      'Salary': [30000, 50000, 35000, 52000]}
df=pd.DataFrame(data)
mean_sal=df.groupby('Department')['Salary'].mean().reset_index()
mean_sal

  Department   Salary
0         HR  32500.0
1         IT  51000.0

In [ ]:
#3.Q3. Create a DataFrame and apply label encoding to the Gender column.
{'Name': ['Arjun', 'Leela', 'Kiran'], 'Gender': ['Male', 'Female', 'Male']}
Expected Output:
    Name  Gender  Gender_encoded
0  Arjun    Male               1
1  Leela  Female               0
2  Kiran    Male               1

In [11]:
data={'Name': ['Arjun', 'Leela', 'Kiran'], 'Gender': ['Male', 'Female', 'Male']}
df=pd.DataFrame(data)
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
Gender_encoded=LE.fit_transform(df['Gender'])
df['Gender_encoded']=Gender_encoded
df

    Name  Gender  Gender_encoded
0  Arjun    Male               1
1  Leela  Female               0
2  Kiran    Male               1

In [ ]:
#4.ðŸ”¹Q4. Normalize the 'Score' column using Min-Max scaling.
{'Student': ['A', 'B', 'C'], 'Score': [55, 80, 65]}

Expected Output:
    Student  Score  Normalized_Score
0       A     55               0.0
1       B     80               1.0
2       C     65               0.4

In [13]:
data={'Student': ['A', 'B', 'C'], 'Score': [55, 80, 65]}
df=pd.DataFrame(data)
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
Normalized_Score=mms.fit_transform(df[['Score']])
df['Normalized_Score']=Normalized_Score
df

  Student  Score  Normalized_Score
0       A     55               0.0
1       B     80               1.0
2       C     65               0.4

In [ ]:
#5.
Use SVM, RandomForest, and GaussianNB to classify customers as 'Buy' or 'Not Buy' based on Age and Salary.
{'Age': [22, 25, 47, 52, 46, 56, 23], 'Salary': [15000, 29000, 48000, 60000, 52000, 61000, 17000], 'Buy': [0, 0, 1, 1, 1, 1, 0]}

In [25]:
data={'Age': [22, 25, 47, 52, 46, 56, 23],
      'Salary': [15000, 29000, 48000, 60000, 52000, 61000, 17000],
      'Buy': [0, 0, 1, 1, 1, 1, 0]}
from sklearn.svm import SVC
#from sklearn.tree import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

df=pd.DataFrame(data)
x=df[['Age','Salary']]
y=df['Buy']

X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=45)
#pipeline=Pipeline([
 #   SVC(),
#'rfc':RandomForestClassifier(),
#GaussianNB()
#])
#model=pipeline.fit(X_train,y_train)
models={
    'svm':SVC(),
    'Naive':GaussianNB()
}
for model,ypred in models.items():
    model=models.fit_transform(X_train,y_train)
    ypred=models.predict(X_test)

AttributeError: 'dict' object has no attribute 'fit_transform'